<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <title>Meteor project</title>
</head>

<body>
    {{> sAlert}}
</body>

<template name="layout">
    {{> header}}
    <main>
        <div class="container">
            {{> Template.dynamic template=main}}
        </div>
    </main>
    {{> footer}}
</template>