<template name="mainMenu">
    <nav class="header-menu">
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/subpage">Subpage</a></li>
            <li><a href="/secret">Secret</a></li>
            {{#if currentUser}}
                <li><a href="#" class="js-logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>
</template>