
@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes' /* optional - only if you want to use helper classes */

// custom imports
@import 'mixins.import'
@import 'variables.import'

// media queries using rupture mixins:
    // +above(641px)
    // +above(1025px)
    // +above(1441px)
    // +above(1921px)
    // rupture docs: https://github.com/jenius/rupture
// or standard media queries with em or px
    // @media only screen and (min-width: 40.063em) /* min-width 641px */
    // @media only screen and (min-width: 64.063em) /* min-width 1025px */
    // @media only screen and (min-width: 90.063em) /* min-width 1441px */
    // @media only screen and (min-width: 120.063em) /* min-width 1921px */

// uncomment edit function to see grid borders
// edit()

// demo Scotty theme

@import 'scotty-theme.import'
