<template name="secretPage">
    <!-- this is of course not enought to protect your data (only for demo purposes) ... -->
    {{#if currentUser}}
        <section>
            <aside>
                <h1>Secret page!!</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et delectus aut repellat minus, ex natus, ea nam perspiciatis nihil, quo culpa doloribus ratione odit fugit error debitis assumenda laboriosam.
            </aside>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi debitis iste, tempore dignissimos quos quo, officiis repellat, odit id dolore totam illo quia? Illum reprehenderit recusandae, blanditiis veritatis eveniet placeat expedita nulla voluptatum quaerat quisquam, soluta sint nam magni minima, repudiandae totam eaque dolore cumque cum qui. Placeat, qui.
            </article>
        </section>
    {{else}}
        <section>
            <aside>
                <strong>Login to see this page!</strong>
            </aside>
            <article>
                {{> sIdLoginView}}
            </article>
        </section>
    {{/if}}
</template>